//colores varibles

$darkColor:#19283f;
$greenColor:#33d1cc;
$redColor:#ff3150;
$yellowColor: #ffc400;
$sectionColor: #eff7fa;


/* media varibles */
$maxMobile : "(max-width:565px)";
$minTab :"(min-width:566px)";
$minSmall : "(min-width:768px)";
$maxSmall : "(max-width:991px)";

$minMediem : "(min-width:992px)";
$maxMediem : "(max-width:1199px)";

$minLarge : "(min-width:1200px)";


